@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    background-color: #333;
    transition: 0.5s;
}

.card:hover {
    height: 350px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 140px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.card:hover.imgBx {
    width: 250px;
    height: 250px;
}

.card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    filter: brightness(1.4);
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2rem;
}

.card .content .details h2 span {
    font-size: 0.75rem;
    font-weight: 500;
    color: #fff;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: 1rem;
    color: #45f3ff;
    line-height: 1.2rem;
    font-weight: 600;
}

.card .content .details .data h3 span {
    font-size: 0.85rem;
    font-weight: 400;
    color: #fff;
}

.card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card .content .details .actionBtn button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}

.card .content .details .actionBtn button:nth-child(2) {
    background: #fff;
}

.card .content .details .actionBtn button:hover {
    opacity: 1;
}